{% extends 'BlogBundle::layout.html.twig' %}

{% block header %}<h1>Blog posts</h1>{% endblock %}

{% block body %}
    <div>
        <h3>Title</h3>
        <p class="bg-info">{{ blogpost.title }}</p>
        <h3>Autor</h3>
        <p class="bg-info">{{ blogpost.author }}</p>
        <h3>Content</h3>
        <p class="bg-info">{{ blogpost.content|nl2br }}</p>
        <h3>Created at</h3>
        <p class="bg-info">{{ blogpost.createdAt|date }}</p>
        <hr />
        {% if blogpost.isPublished %}
            <p>Published on {{ blogpost.publishedAt|date }}</p>
        {% else %}
            <a class="btn btn-primary" href="{{ path('post_publish', {'id': blogpost.id, 'token': csrf_token('post_publish.' ~ blogpost.id)}) }}">Mark as published</a>
        {% endif %}
    </div>

  {#  {% block comments %}
        {% for comment in blogpost.comments %}
            <p>{{ comment.content }}</p>
            <p>{{ comment.author }}</p>
        {% endfor %}


    {% endblock %}
{% endblock %}

#}