<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}Blog{% endblock %} - Blog</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<section id="wrapper">
    <header id="header">
        <div class="top">
            {% block navigation %}
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <ul class="navigation" class="nav navbar-nav">
                        <li{{ app.request.get('_route') == 'BlogBundle_homepage' ? ' class="active"'}}><a href="{{ path('BlogBundle_homepage') }}">Homepage</a></li>
                        <li{{ app.request.get('_route') == 'users' ? ' class="active"'}}><a href="{{ path('users') }}">Users</a></li>
                        <li{{ app.request.get('_route') == 'hello' ? ' class="active"'}}><a href="{{ path('hello') }}">Hello</a></li>
                        <li{{ app.request.get('_route') == 'contact' ? ' class="active"'}}><a href="{{ path('contact') }}">Contact us</a></li>
                          {% if app.user %}
                              <li{{ app.request.get('_route') == 'update_password' ? ' class="active"'}}><a href="{{ path('update_password') }}">Update password</a></li>
                              <li><a href="{{ path('logout') }}">Logout ({{ app.user.fullname }})</a></li>
                          {% else %}
                              <li{{ app.request.get('_route') == 'register' ? ' class="active"'}}><a href="{{ path('register') }}">Register</a></li>
                              <li{{ app.request.get('_route') == 'login' ? ' class="active"'}}><a href="{{ path('login') }}">Login</a></li>
                          {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li{{ app.request.get('_route') == 'contact_list' ? ' class="active"'}}><a href="{{ path('contact_list') }}">Contacts</a></li>
                            <div class="dropdown">
                              <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  Blog posts
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                  <li{{ app.request.get('_route') == 'pos_list' ? ' class="active"'}}><a href="{{ path('post_list') }}">Blog posts list</a></li>
                                  <li{{ app.request.get('_route') == 'newpost' ? ' class="active"'}}><a href="{{ path('newpost') }}">Create a new blog post</a></li>

                              </ul>

                            </div>
                        {% endif %}
                      </ul>
                    </div>
                </nav>

            {% endblock %}
        </div>


            <h2>{% block blog_title %}<a href="#">Blog</a>{% endblock %}</h2>
            <h3>{% block blog_tagline %}<a href="#">creating a blog in Symfony3</a>{% endblock %}</h3>
    </header>

    <section class="main-col">
        {% block body %}{% endblock %}
    </section>
    <aside class="sidebar">
        {% block sidebar %}{% endblock %}
    </aside>

    <div id="footer">
        {% block footer %}
            Symfony3 blog tutorial - created by Teld
        {% endblock %}
    </div>
</section>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>