{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}


{% block blog_tagline %}<h1>List of blog posts plushed </h1>{% endblock %}


{% block body %}

    {% if blogposts|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'title' }}</th>
                <th>{{ 'plublished_at' }}</th>
                <th>{{ 'content'}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for blogpost in blogposts %}
              {% if blogpost.isPublished %}
                <tr>
                    <td>{{ blogpost.title }}</td>
                    <td>{{ blogpost.publishedAt | date }}</td>
                    <td>{{ blogpost.content | slice(0,100) }}</td>
                    <td><a class="btn btn-primary" href="{{ path('user_post_show', {'id': blogpost.id}) }}">View</a></td>
                </tr>
              {% endif %}
            {% else %}
                <tr>
                    <td colspan="4">No blog posts.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">No blog posts.</div>
    {% endif %}

{% endblock %}



